.seatch-content {

    width: 1365px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
    margin-left: 0px;
    margin-top: 60px;
    padding-left: 90px;
}

.text-seatch {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    padding-top: 65px;
    margin-bottom: 10px;

}