.loader-base {
    width: 1455px;
    display: flex;
    align-items: center;
    height: 380px;
    background: #F5F5F5;
    border-radius: 16px;
    margin-top: 55px;
    margin-left: 0px; 
}



.loader-box-img {
    margin-top: 80px;
}


