.home-container{
    padding:  180px 740px 150px 120px ;
}

.text-title {
    width: 600px;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;

}

.text-subtitle li{
    width: 600px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;

}
